<article>
	<p>
		<% @textos.each do |p| %>
		 <%= p.content %>
		<% end %>
	</p>
</article>

<div class="foto-inicio">
</div>
<div class="publicidad">
	<%= image_tag ("inicio/publicidad-lateral.png") %>
</div>