<article>
	<div class='foto'>
		<%= image_tag ('instalaciones/instalaciones-fotos.png') %>
	</div>
	<div class='descripcion'>
		<p><i>
			Entre los servicios que ofrece el aeródromo se encuentran:
			<ul>
				<li>
					El uso de una pista de 1,200 metros (3,900 pies) de largo y pavimentada, con orientación 11/29 cuyas coordenadas son 20° 25" 31.2" N y 87° 00" 05.3" W.
				</li>
				<li>
					FBO que cuenta con: acceso privado a la pista, centro de negocios. dos salas de juntas, internet, wireless connection, cafetería, terraza.
				</li>
				<li>
					Escuela de pilotos que imparte los cursos de: piloto privado y comercial, oficial de operaciones, sobrecargo, entre otros.
				</li>
			</ul></i>
		</p>
	</div>
</article>