<article>
	<%= image_tag ("nosotros/foto-cap.-eduardo.png") %>
	<p><i>
		Somos un Aeródromo "PRIVADO" con servicios a terceros,
		diseñado para la aviación general, el cual cuenta con 
		un taller aeronáutico autorizado por la D.G.A.C.</i>
	</p>
	<p><i>
		Todo empezó como un proyecto personal, y apesar de 
		muchas dificultades locales, el día 28 de febrero 
		del 2010, el empresario quintanarroense Ing. Eduardo 
		Toledo Parra llevó a cabo sus sueño de abrir un 
		Aeródromo de clase mundial en la zona sur de la "Isla 
		de las Golondrinas" evento que se realizó en presencia 
		del Gobernador Félix González Canto, quien arribó junto 
		con los presidentes municipales de Cozumel, Solidaridad, 
		y Othón P. Blanco, Juan Carlos González Hernández, Román 
		Quian Alcocer y Andrés Ruiz Morcillo, en una avioneta 
		Bonanza A36 piloteada por el mismo Ing. Eduardo Toledo.</i>
	</p>
</article>